body,
div,
p {
  margin: 0;
  padding: 0;
}
div {
  vertical-align: top;
}
.container,
.context {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 10px;
  _margin-bottom: 0px;
}
body {
  background-color: #282828;
  color: white;
}
.header {
  height: 40px;
  background-color: #79c3d2;
}
a {
  color: white;
}
.header .image,
.header .note {
  display: inline;
  float: left;
  color: #143352;
}
.footer {
  text-align: center;
}
.menu {
  height: 40px;
  background-color: #143352;
  border-top: 2px solid rgba(92, 153, 214, 0.5);
  border-bottom: 2px solid rgba(15, 38, 61, 0.5);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}
.menu a {
  display: inline-block;
  line-height: 40px;
  color: white;
  text-decoration: none;
  padding: 0 15px;
}
.menu a:hover {
  background-color: #c80000;
}
/*当宽度为960时的栅格系统*/
.w1,
.w2,
.w3,
.w4,
.w5,
.w6,
.w7,
.w8,
.w9,
.w10,
.w11,
.w12 {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.w1 {
  width: 80px;
}
.w2 {
  width: 160px;
}
.w3 {
  width: 240px;
}
.w4 {
  width: 320px;
}
.w5 {
  width: 400px;
}
.w6 {
  width: 480px;
}
.w7 {
  width: 560px;
}
.w8 {
  width: 640px;
}
.w9 {
  width: 720px;
}
.w10 {
  width: 800px;
}
.w11 {
  width: 880px;
}
.w12 {
  width: 960px;
}
/*媒体选择*/
@media screen and (max-width: 480px) {
  .container,
  .context {
    width: 100%;
    margin: 0 auto;
  }
  .header,
  .menu {
    height: auto;
  }
  .w1,
  .w2,
  .w3,
  .w4,
  .w5,
  .w6,
  .w7,
  .w8,
  .w9,
  .w10,
  .w11,
  .w12 {
    width: 100%;
  }
}
